@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    background-color: #1F2937;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   }
}
@layer components{
  .menuLink{
    @apply cursor-pointer hover:text-[#c5c5c5];
  }
  .tags{
    background-color: gray;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 3px 10px;
    display: inline-block;
    color: white;
    font-size: 12px;
  }
  .tags:last-child{
    margin-right: 0;
  }
  .tags:nth-child(2) {
    background-color: darkblue;
  }
  .tags:nth-child(3) {
    background-color: darkcyan;
  }
  .tags:nth-child(4) {
    background-color: rebeccapurple;
  }
}
